<mat-toolbar>
  <span><a routerLink="/">My Application</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">LogIn</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button>logOut</button>
    </li>
  </ul>
</mat-toolbar>
